@import "_normalize";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

  main, .buttons, .todo-list { padding: 20px; }

  .todo-list__item {
    margin-bottom: 0;
  }
}